.input{
    height:4rem;
    width:80%;
    border-radius: 1rem;
    background-color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 2rem 0;
}

input{
    background: none;
    border: none;
    margin-left: 1rem;
    flex:1;
}

input:focus{
    outline:none;
}

.add-btn{
    font-size: 1rem;
    margin: 0.8rem;
    color: white;
    background-color:#426fd6;
    border:none;
    cursor: pointer;
    border-radius:1rem ;
    height:2.5rem;
    width:4rem;
}