.todoItem{
    display:flex;
    flex-direction:row;
    align-items:center;
    width:80%;
    background-color:white;
    margin: .5rem .25rem;
    height:3rem;
    border-radius:.75rem;
}

.todoItem>p{
    flex:1
}

.todoItem:hover{
    cursor: pointer;
}

.todoItem--done{
    text-decoration: line-through;
}

.done{
    background-color:#f5fff5;
    border: solid 1px #00db07;
}